<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="/">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/servicios">servicios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/serviciosdfsdf">404</a>
      </li>

  </ul>